<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDV SV MAXGUI-2 | slides</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}">

</head>
<body>
    <img src="/static/imagens/interrogacao.jpg" alt="interrogação" width="300">
    
    <h1><strong>Ops, Está opção está em desenvolvimento, aguarde ser adcionada</strong></h1> 
</body>
</html>