<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDV SV MAXGUI-2 | slides</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}">

</head>
<body>

    <div class="logo_fundo"></div>

    <hr><hr>

    <div class="comercial active">
        <div class="empresa_img">
            <img src="/static/imagens/logofrase.png" alt="logo" title="PDV SV MAXGUI-2" width="300">
        </div>
        <div class="conteudo">
            <p class="name"><strong>PDV SV MAXGUI-2</strong>
            <p class="title">Rapidez, organização e tecnologia para o seu comércio.</p>
            <a href="https://PDV-SV-MAXGUI2.com.br"><button class="btn_ir">acessar</button></a>
        </div>
    </div>
    
    <div class="comercial">
        <div class="empresa_img">
            <img src="/static/imagens/propagandas/logofornece.png" alt="logo" title="Fornece" width="300">
        </div>
        <div class="conteudo">
            <p class="name"><strong>FORNECE</strong>
            <p class="title">Qualidade, agilidade e confiança no abastecimento do seu supermercado.</p>
            <a href="https://fornece.com.br"><button class="btn_ir">acessar</button></a>
        </div>
    </div>
    
    <div class="comercial">
        <div class="empresa_img">
            <img src="/static/imagens/propagandas/shopee-logo.svg" alt="logo" title="shopee" width="300">
        </div>
        <div class="conteudo">
            <p class="name"><strong>Shopee</strong>
            <p class="title">Ofertas, variedade e praticidade em um só lugar.</p>
            <a href="https://shopee.com.br/"><button class="btn_ir">acessar</button></a>
        </div>
    </div>
    
    <div class="arrow">
    <button><img src="/static/imagens/icones/next.png" alt="" width="20"></button>
    <button><img src="/static/imagens/icones/next.png" alt="" width="20"></button>
    <div>

</body>
</html>