<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDV SV MAXGUI-2 | cookies</title>
    
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}">
    
</head>
<body>

    <div class="logo_fundo"></div>

    <header class="center">
        <h6>PDV SV MAXGUI-2</h6>
        <h1>POLÍTICA DE COOKIES</h1>
        <p><strong>Atualizado em: 08/03/2026</strong></p>
    </header>
    <hr>
    <hr>

    <main>

    <section>
    <p>Nosso site, <strong>PDV SV MAXGUI-2</strong>, utiliza cookies e tecnologias similares para melhorar a sua experiência, personalizar conteúdo, analisar interações e exibir anúncios de parceiros. Ao acessar <strong>PDV SV MAXGUI-2</strong>, você concorda com o uso de cookies conforme descrito nesta política.
    </section>

    <section>
    <h2>1. O que são cookies</h2>
    <p>Cookies são pequenos arquivos de dados enviados ao seu dispositivo, permitindo que o site lembre informações sobre você, suas preferências e comportamento de navegação.</p>
    </section>

    <section>
    <h2>2. Cookies que utilizamos</h2>
    <ol>
        <li>Essenciais
Necessários para o funcionamento do <strong>PDV SV MAXGUI-2</strong> e de funcionalidades básicas, como manter você logado, lembrar seu tema ou idioma. Não podem ser desativados pelo usuário.</li>
        <li>De desempenho e análise interna
Coletam informações sobre acessos diários, horários, abas mais visitadas e outras interações. Esses dados são usados apenas para melhorar a experiência do usuário no <strong>PDV SV MAXGUI-2</strong>. Não utilizamos ferramentas de Analytics de terceiros.</li>
        <li>Funcionalidade do chat
Cookies e registros temporários do chat auxiliam no atendimento. Todas as mensagens são armazenadas apenas para análise e melhorias dentro do <strong>PDV SV MAXGUI-2</strong> e são posteriormente excluídas de nosso banco de dados.</li>
    </ol>
    </section>

     <section>
     <h2>3. Cookies de terceiros</h2>
    <p>O PDV SV MAXGUI-2 pode utilizar serviços de terceiros que também utilizam cookies:</p>
    <ul>
        <li>Google AdSense – para anúncios no site.</li>
        <li>Google Tradutor – para tradução de conteúdo.</li>
    </ul>
    <p>Esses serviços possuem suas próprias políticas de cookies, e recomendamos que você consulte diretamente seus sites para mais detalhes.</p>
    </section>

    <section>
    <h2>4. Duração dos cookies</h2>
    <p>Todos os cookies utilizados pelo <strong>PDV SV MAXGUI-2</strong> são permanentes, ou seja, permanecem em seu dispositivo até que sejam excluídos manualmente ou expirados de acordo com o serviço.</p>
    </section>

    <section>
    <h2>5. Controle e desativação de cookies</h2>
    <p>Você pode gerenciar ou desativar cookies através das configurações do seu navegador, exceto os essenciais para funcionamento do chat. Desativar cookies pode afetar funcionalidades do <strong>PDV SV MAXGUI-2</strong>, como login automático, preferência de idioma ou tema.</p>
    </section>

    <section>
    <h2>6. Legislação aplicável</h2>
    <p>Este termo está em conformidade com:</p>
    <ul>
        <li>LGPD (Lei Geral de Proteção de Dados) – Brasil</li>
        <li>GDPR (Regulamento Geral sobre a Proteção de Dados) – União Europeia</li>
        <li>Boas práticas internacionais de privacidade e proteção de dados</li>
    <ul>
    </section>

    <section>
    <h2>7. Atualizações desta política</h2>
    <p><strong>O PDV SV MAXGUI-2</strong> pode atualizar esta política periodicamente. Recomendamos que você a revise de tempos em tempos para estar ciente de quaisquer alterações.</p>
    </section>

    </main>
    
    <br>
    <hr>
    <br>

    {% include "/includes/footer.html" %}
</body>
</html>