<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDV SV MAXGUI-2 | redefinir senha</title>
    
    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}">
    
</head>
<body>

    <div class="logo_fundo"></div>
    
    {% include "/includes/em_desenvolvimento.html" %}
    {% include "/includes/footer.html" %}
    
</body>
</html>