<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDV SV MAXGUI-2 | sobre</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}">

</head>
<body>

    <div class="logo_fundo"></div>

    <div class="center">
        <h6 class="cor6">PDV SV MAXGUI-2</h6>
        <h1 class="c3"> Sobre </h1>
    </div>

    <hr>
    <hr>

    <p>
        O <strong>PDV SV MAXGUI-2</strong> é um sistema de ponto de venda (PDV) desenvolvido com foco em <strong>organização, segurança e aprendizado técnico</strong>.  
Criado por <strong>SER VIVO</strong>, o projeto oferece uma plataforma completa, prática e modular, permitindo integração com outros sistemas da marca SV.  
Este projeto está em versão <strong>Alpha</strong> e seu desenvolvimento é contínuo.  
Todas as funcionalidades foram projetadas para garantir <strong>segurança de dados</strong>, <strong>controle de acesso eficiente</strong> e <strong>confiabilidade no processamento de vendas</strong>.  
O sistema não deve ser comercializado ou vendido. Quando alcançar o nível mínimo de utilização e segurança, será disponibilizado na web para o público, especialmente para pequenos negócios que estão começando, sem impedir que empresas maiores também o utilizem.  
Nosso objetivo é <strong>alavancar o sucesso de quem está iniciando</strong> e não tem condições de utilizar PDVs pagos, buscando criar um dos melhores sistemas de ponto de venda já feitos, <strong>totalmente gratuito</strong>.
    </p>

    <hr>

    <h5>detalhes:</h5>
    <ul>
        <li>Versão: 0.3.2 Alpha</li>
        <li>Nome do projeto: PDV SV MAXGUI-2</li>
        <li>Data de início do projeto: 25/01/2026</li>
        <li>Término do projeto: Desenvolvimento contínuo</li>
        <li>Apoiadores: ~</li>
        <li>Tipo: Web</li>
        <li>Programadores: SER VIVO</li>
        <li>Ideia de: SER VIVO</li>
        <li>Nome real de SER VIVO: Dennis Alexandre</li>
        <li>Classificação indicativa: Técnico/Livre</li>
        <li>ferramentas/tecnologias utilizadas:</li>
            <ul>
                <li>Linguagens: Python, HTML, CSS, JavaScript</li>
                <li>Framework: Flask</li>
                <li>Banco de dados: SQLite</li>
                <li>Front-end responsivo para celulares e desktops</li>
            </ul>
    </ul>

    {% include "/includes/footer.html" %}
</body>
</html>