<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDV SV MAXGUI-2 | termos</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imagens/favicon.ico') }}">

</head>
<body>

    <div class="logo_fundo"></div>

    <header class="center">
        <h6>PDV SV MAXGUI-2</h6>
        <h1>Termos de Uso</h1>
        <p><strong>Data deste termo: 07 de março de 2026</strong></p>
    </header>
    <hr>
    <hr>

    <main>

    <section>
    <h2>1. Aceitação dos termos</h2>
    <p>Ao acessar ou utilizar o sistema <strong>PDV SV MAXGUI-2</strong>, o usuário concorda com estes Termos de Uso.</p>
    <p>Caso não concorde, o usuário não deve utilizar o sistema.</p>
    </section>

    <section>
    <h2>2. Finalidade do sistema</h2>
<p>O <strong>PDV SV MAXGUI-2</strong> é um sistema de ponto de venda (PDV) desenvolvido para:</p>
    <ul>
        <li>Registro de vendas</li>
        <li>gestão de produtos</li>
        <li>controle de operações comerciais</li>
        <li>geração de relatórios administrativos</li>
    </ul>
    </section>

    <section>
    <h2>3. Conta de usuário</h2>
    <p>Para utilizar as funcionalidades do sistema, é necessário possuir uma conta de acesso.
O usuário é responsável por:</p>
    <ul>
        <li>manter suas credenciais em segurança</li>
        <li>não compartilhar sua senha</li>
        <li>informar uso indevido de sua conta</li>
    </ul>
    </section>

    <section>
    <h2>4. Uso adequado do sistema</h2>
    <p>É proibido utilizar o sistema para:</p>
    <ul>
        <li>atividades ilegais</li>
        <li>tentativa de acesso não autorizado</li>
        <li>manipulação indevida de dados</li>
        <li>comprometimento da segurança do sistema</li>
    </ul>
    </section>

    <section>
    <h2>5. Disponibilidade do sistema</h2>
    <p>O sistema pode passar por:</p>
    <ul>
        <li>atualizações</li>
        <li>manutenção</li>
        <li>melhorias técnicas</li>
    </ul>
    <p>Durante esses períodos o acesso pode ser temporariamente interrompido.</p>
    </section>

    <section>
    <h2>6. Limitação de responsabilidade</h2>
    <p>O sistema é fornecido com o objetivo de auxiliar na gestão de vendas.
O responsável pelo sistema não se responsabiliza por:</p>
    <ul>
        <li>uso incorreto da plataforma</li>
        <li>decisões comerciais tomadas com base nos dados do sistema</li>
        <li>falhas causadas por fatores externos</li>
    </ul>
    </section>

    <section>
    <h2>7. Validade</h2>
    <p>Este documento é válido apenas para a última versão do site</p>
    <ul>
        <li>versão do site para este contrato: <strong>0.3.2 Alpha</strong></li>
    </ul>        
    </section>

    </main>

    {% include "/includes/footer.html" %}
</body>
</html>